###############
# Directories
###############
bin/
gen/
target/

###############
# Java class files
###############
*.class

###############
# Package Files
###############
*.jar
*.war
*.ear
*.db

###############
# Windows image file caches
###############
Thumbs.db


###############
# Thumbnails
###############
._*

###############
# OS Files
###############
.DS_Store

######################
# Eclipse
######################
*.pydevproject
.metadata
.project
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
/src/main/resources/rebel.xml
# External tool builders
.externalToolBuilders/

######################
# IntelliJ Idea
######################
idea/
/out/
build/
*.iml
*.iws
*.ipr
.idea
.gradle
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/gradle.xml
.idea/libraries
.idea/mongoSettings.xml
.idea_modules/
atlassian-ide-plugin.xml
*.springBeans
