<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%date{ISO8601}|[%thread]|%-5level|%logger{35}|%msg %n
			</Pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>TRACE</level>
		</filter>
	</appender>
	<logger name="com.sample" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</logger>
	<root level="OFF">
		<level value="INFO" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration> 